# Ignore node_modules
frontend/node_modules
backend/node_modules

# Build outputs
frontend/build
backend/dist

# Env files
frontend/.env
backend/.env

# Logs
*.log

# Docker
*.pid
*.tmp

# VSCode / editor
.vscode/
.DS_Store

gcp-deploy-key
gcp-deploy-key.pub
