version: "3.9"

services:
  backend:
    image: felixmaicleine/sayur-backend:latest
    environment:
      - DB_HOST=mysql
      - DB_USER=root
      - DB_PASSWORD=123456
      - DB_NAME=db_sayur
      - JWT_SECRET=supersecretkey

  mysql:
    environment:
      - MYSQL_ROOT_PASSWORD=123456
      - MYSQL_DATABASE=db_sayur

  frontend:
    image: felixmaicleine/sayur-frontend:latest